<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper valign-wrapper">
      <ul class="left">
        <li><a href="<%= back_href %>"><i class="mdi-navigation-arrow-back"></i></a></li>
      </ul>
      <span class="center-block center-align">
        <span href="#!" class="flow-text valign"><%= title %></span>
      </span>
      <ul class="right">
        <li><a id="sidenav-toggle" href="#" data-activates="slide-out"><i class="mdi-navigation-menu"></i></a></li>
      </ul>
    </div>
  </nav>
</div>