<ul id="slide-out" class="side-nav collection with-header">
  <li class="collection-header"><h5>Alunos</h5></li>
  <a href="<%= alunos_path %>" class="collection-item active"><i class="mdi-social-people secondary-content"></i>Meus alunos</a>
  <li class="collection-header"><h5>Treinos</h5></li>
  <a href="schedule.html" class="collection-item"><i class="mdi-action-event secondary-content"></i>Agenda</a>
  <a href="#!" class="collection-item"><i class="mdi-editor-insert-chart secondary-content"></i>Relatórios</a>
  <a href="feedbacks.html" class="collection-item"><i class="mdi-notification-sms-failed secondary-content"></i>Feedbacks</a>
  <a href="workout_templates.html" class="collection-item"><i class="mdi-maps-local-attraction secondary-content"></i>Modelos</a>
  <a href="#!" class="collection-item"><i class="mdi-action-accessibility secondary-content"></i>Exercícios</a>
  <li class="collection-header"><h5>Minha conta</h5></li>
  <a href="#!" class="collection-item"><i class="mdi-action-account-circle secondary-content"></i>Perfil</a>
  <a href="signin.html" class="collection-item"><i class="mdi-action-input secondary-content"></i>Sair</a>
</ul>