@font-face{
  font-family: "Roboto";
  src: url("Roboto-Thin.ttf");
  font-weight: 200;
}
@font-face {
  font-family: "Roboto";
  src: url("Roboto-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Roboto";
  src: url("Roboto-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("Roboto-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: url("Roboto-Bold.ttf");
  font-weight: 700;
}



@font-face {
  font-family: "Material-Design-Icons";
  src: url("Material-Design-Icons.eot");
  src: url("Material-Design-Icons.eot?#iefix") format("embedded-opentype"), url("Material-Design-Icons.woff") format("woff"), url("Material-Design-Icons.ttf") format("truetype"), url("Material-Design-Icons.svg#Material-Design-Icons") format("svg");
  font-weight: normal;
  font-style: normal; }